body{
    font: normal normal 1em Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    font: italic bolder 3em serif;
    text-align: center;
}

h2{
    font: normal bolder 2em serif;
    text-align: right;
}

p{
    text-align: justify;
    text-indent: 2em;
}